<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDshNteNp_ob4YzeuNAfgADSuLrrAzy4Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>100301584215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>github.io.ramithgunawardana.smMobile</string>
	<key>PROJECT_ID</key>
	<string>softwaremodeling-b879c</string>
	<key>STORAGE_BUCKET</key>
	<string>softwaremodeling-b879c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100301584215:ios:7d313221b92c98b1647012</string>
	<key>DATABASE_URL</key>
	<string>https://softwaremodeling-b879c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>